@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
* {
	font-family: 'Dongle', sans-serif;
	font-size: 32px;
}

body {
	background: #c2c5f8;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow:hidden;
}

#calendar_container {
	background-color: white;
	height: auto;
	width: 500px;
	margin: 0px;
	padding-left:20px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.4);
	display: flex;
	align-content: center;
	justify-content: center;
}

.calendar {
	text-align: center;
}

td {
	width: 50px;
	height: 50px;
	text-align:center;
}

thead {
	font-weight: 600;
}

.calendar {
	text-align: center;
}

.calendar > thead > tr:first-child > td {
	font-weight: bold;
}

.calendar > thead > tr:last-child > td {
	font-weight: 600;
}

.calendar > tbody > tr > td > span {
	border-radius: 45px;
	transition-duration: 0.2s;
	line-height: 45px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #c2c5f8;
	color:white;
	font-weight: 600;
	cursor: pointer;
}
.saturday{
	color:#DC143C;
}
.sunday{
	color:#0000dc;
}
.futureDay {
	background-color: #ffffff;
	cursor: pointer;
}
.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #00c3c1;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
