*{
	font-family: 'SCDream', sans-serif;
	font-weight:600;
	padding:0;
	margin:0;	
	box-sizing:border-box;
}
body{
	width:100vw;
	height:100vh;
	overflow:hidden;
	background-color:black;
	color:rgba(145,145,145,1);
	display:flex;
	align-items:center;
	justify-content:center;
}

.box{
	flex:1;
	padding:5px;
	height:80%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.box.left{
	border-right:1px solid rgb(125,125,125);
	font-size:25px;
}

.box.right{
	
}
.highlight{
	color:yellow;
}
#container{
	width:85vw;
	height:40vh;
	border:1.2px solid rgba(125,125,125,1);
	border-radius:15px;
	overflow:hidden;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}